{% extends 'base.html' %}

{% block content %}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            {{title}}
        </h3>
    </div>
    <div class="card-body">
        <table class="table" id="data">
            <thead>
                {% block columnas %}

                {% endblock %}
            </thead>
            <tbody>
                {% block filas %}

                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i> NUEVO REGISTRO
        </button>
    </div>
</div>
{% endblock  %}

{% block javascript %}
<script type="application/javascript">
    $(function() {
        $('#data').DataTable({
            responsive : true,
            autoWidth : false
        });
    });
</script>
{% endblock %}