{% extends 'list.html' %}

{% block columnas %}
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Sector asignado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock  %}}

{% block filas %}
    {% for p in paradas %}
        <tr>
            <td scope="row">
                {{p.parada_id}}
            </td>
            <td scope="row">
                {{p.nombre}}
            </td>
            <td scope="row">
                {{p.create}}
            </td>
            <td scope="row">
                {{p.sector_asignado}}
            </td>
            <td scope="row">
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock  %}